footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    /* vw : 화면의 너비를 100% 채운다 */
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    background-color: #fff;
}

.footer-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-icons {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.footer-icons__img {
    width: 25px;
}

.footer-icons__text {
    margin-top: 8px;
}